<li class="cell-user" data-id="{{ id }}" data-title="{{ title }}">
    <div class="avatar-holder" style="background-image: url({{ avatarURL }})"></div>
    <span class="title"> {{ title }} </span>
    <p></p>
</li>