<!-- 본문 영역 -->
<div class="boby_contant">
    <ul id="user-list"></ul>

    <div class="container">
        <button id="btn-enter">확인</button>
        <div class="tables"></div>
    </div>
    <!--<script id="actions-template" type="text/html">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">View</button>
            <button type="button" class="btn btn-default">Edit</button>
            <button type="button" class="btn btn-default">Delete</button>
        </div>
    </script>-->
</div>
<!-- 본문 영역 끝 -->
