@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

/*��� */

body {
  font-family: 'Malgun Gothic';
  background-color: #efefef;
}

.top_header {
  background-color: #5d89ec;
  color: #fff;
  .c_align {
    width: 1030px;
    margin: auto;
    height: 70px;
  }
}
#main-view .chat-header {
  height: 50px;
  border-bottom: 1px solid #eeeeee;
  padding-left: 10px;
  margin-top: 0px;
  position: absolute;
  width: 100%;
  z-index: 1;
  .text-center {
    text-align: left;
    padding: 7px;
  }
  a {
    color: #fff;
    background-color: #5d89ec;
    position: absolute;
    top: 9px;
    padding: 3px 12px;
    border-radius: 5px;
    right: 9px;
    line-height: 180%;
  }
}
.chatting_area .col-header a.setbtn{
  color: #fff;
  position: absolute;
  top: 9px;
  padding: 3px 12px;
  border-radius: 5px;
  right: 9px;
  line-height: 180%;}
.chatting_area .chat-header {
  background-color: #4e6375;
  color: #fff;
  text-align: left;
  padding-left: 5px !important;
}
.c_align ul {
  float: right;
  width: 250px;
  padding-left: 0;
  margin-bottom: 0;
  li {
    list-style: none;
    min-width: 120px;
    padding: 0 15px;
    float: left;
    text-align: center;
    margin: 23px 0;
    cursor: pointer;
    font-size: 10.5pt;
    &.line {
      border-right: 1px solid #ddd;
    }
    a {
      color: #fff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.main{
  .c_align {
    position: relative;
    ul {
      float: right;

      li a{color: #333}
    }
  }

}
/*�α��� ȭ�� ����*/

#login-view form.spika-form input {
  border-bottom: 1px solid #dcdcdc;
}
.type_chk {
  vertical-align: middle;
  height: 40px;
  padding-top: 20px;
}

#login-view form.spika-form .type_chk input {
  height: auto;
}
.btn-primary.blue {
  color: #fff;
  background-color: #5d89ec;
  border-color: #5d89ec;
}

.col-md-6.col-xs-10.col-sm-10.login {
  top: 50%;
  position: relative;
  width: 365px;
  margin: auto;
  float: none;
  padding: 0;
  left: 50%;
  margin-left: -180px;
  margin-top: 185px;
  margin-bottom: 100px;
  .spika-form{
    p{
      margin: 0 20px;
    }
  }
}
.type_chk {
  input {margin: 0 0 0 20px;}
  span { box-shadow: none;line-height: 40px; height: 40px;display: inline-block; vertical-align: top;}
}

form.spika-form {
  background-color: #fff;
  padding-top: 20px;
}

.form-group {
  margin: 0 20px;
}
.input_area {margin-bottom: 20px;}
.login {
  .path {
  margin: 15px 20px;
  }
  .comp{
    p {
      margin-bottom: 10px !important;
      text-align: center;
      &.mail_t{
        color: #337ab7;
        font-size: 14pt;
        margin-bottom: 20px !important;
      }
    }
  }
}


h2.form-signin-heading {
  font-size: 24px;
  margin: 10px 20px 40px;
}

.info_t {
  font-size: 10pt;
  margin-top: 30px;
  margin-bottom: 10px;
}

.login a img {
  cursor: pointer;
}

.spacer {
  margin-top: 40px;
}

/*����*/

.bottom_f {
  text-align: center;
  width: 100%;
  font-size: 10pt;
  padding-bottom: 20px;
  margin-top: 20px;
  &.login {
    /* position: absolute; */
    /* bottom: 0; */
    /* margin-top: 0; */
    p a {
      color: #333;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

/*sub ALL-----------------------------------------------------------------------*/

.boby_contant {
  background-color: #fff;
  width: 1030px;
  margin: auto;
  min-height: 500px;
  margin-top: 20px;
  > h2 {
    border-bottom: 1px solid #ddd;
    padding: 17px 30px;
    font-weight: 600;
    font-size: 17pt;
    color: #444;
  }
}

.policy {
  padding: 17px 30px;
  font-size: 10pt;
  &.mobile {
    background-color: #fff;
  }
}

/*ä���ϱ�*/

.chatting_area {
  width: 1030px;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
}
p.list_t {
  margin-left: 15px;
  margin-top: 20px;
  font-size: 11pt;
  font-weight: 700;
}
.chat_sider ul.list-unstyled li.cell-user .avatar-holder {
  border-radius: 50px;
  background-color: #f9f9f9;
}

.chatting_area .col-header {
  background-color: #4e6375;
  color: #fff;
  text-align: left;
  padding-left: 3px !important;

  h5 {
    text-align: left;
    padding-left: 12px;
  }
  a {
    color: #fff;
    padding: 12px 4px 12px 0;
    display: inline-block;
    max-width: 49%;
    font-size: 9pt;
    cursor: pointer;
    &:link, &:hover {
      list-style: none;
      text-decoration: none;
    }
  }
}
.modal-header {
  background-color: #5d89ec;
  color: #fff;
  .close { color:#fff;
    &:hover,&:focus{
      color:#fff; opacity:1; filter: alpha(opacity=20);
    }

  }
}

.modal-body {
  .form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
  }
  .container {  width: 100%;  }
  .chat_chk {margin-bottom: 15px;
    input {
      vertical-align: middle;
      margin-right: 10px
    }
    label{
      vertical-align: middle;
      margin-bottom: 0px;
      cursor: pointer;
    }
  }
  .chat_input { margin-top: 30px;}
  .form-group { margin: 15px 20px;}
  .tables {
    .table {
      tr {
        td {
            text-align: left;
            vertical-align: middle;
          img {
            width: 80px;
            height: auto;
          }
          &:first-child{
            width: 90px;
          }
        }
      }
    }
  }
}
#users {
  .cell-user {
    padding: 10px;
    list-style: none;
    overflow: hidden;
    color: #333;
    cursor: pointer;
    border-top: 1px solid #e0e0e0;
    &:hover{
      background-color: #eee;
    }
    &:first-child{
      border-top: none;
    }

    .avatar-holder {
      width: 60px;
      height: 60px;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 80px;
      border: 1px solid #ddd;
      float: left;
      margin-right: 20px;
    }
    .title {
      font-size: 12pt;
      font-weight: 800;
      margin-top: 10px;
      display: inline-block;
    }
  }

}
#messages {

  & > .chat_info {
    position: relative;
    top: 50%;
    margin-top: -80px;
    text-align: center;
    p {
      font-size: 11pt;
      color: #888;
      letter-spacing: -0.5px;
      margin-top: 5px;
    }
  }
}
#messaging-content #text-message-box-container textarea {
  width: 89% !important;
}
.modal-body{
  &.setting {
    padding: 0;
    img {
      width: 70px;
    }
    .btn_group{
      a {
        color: #555;
        display: block;
        padding: 15px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        &:hover {background-color: #f9f9f9;text-decoration: none;}
      }
      img {
        width: auto;
        margin-right: 10px
      }
    }
  }
}
.modal-body.setting li.cell-user {
  padding: 15px;
  border-top: 1px solid #ddd;
  overflow: hidden;
  list-style: none;
  position: relative;
  &:first-child{border: none}
  div {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60px;
    float: left;
    margin-right: 15px;
  }
  span.title {
    display: inline-block;
    float: left;
    font-size: 11pt;
    font-weight: 800;
    padding-top: 10px;
  }
}

.btn_group>p {
  margin-left: 15px;
  margin-top: 20px;
  font-weight: 700;
}
.modal-body.setting li.cell-user button {
  background-color: #5d89ec;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 7px 20px;
  float: right;
  margin-top: 15px;
  &:hover {
    background-color: #4a71c7;
  }
}
.blue_area {
  padding: 15px;
  color: #fff;
  background-color: #5d89ec;
  font-size: 12pt;
  font-weight: 800;
  overflow: hidden;
  span.photo {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 80px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
  }
  span.chat_name {
    padding-top: 10px;
    display: inline-block;
  }

}
a#modal-logout {
  display: block;
  padding: 15px 0 15px 15px;
  border-top: 1px solid #ddd;
  cursor: pointer;
  color: #333;
  font-size: 11pt;
  &:hover{
    text-decoration: none;
    background-color: #eee;
  }
}


.modal-header{
  &.setting {
    border-bottom: none;
  }
}
.chat_sider ul.list-unstyled li:hover {
  background-color: #f5f5f5;
}

.chatting_area .col-header a.t_c {
  text-align: center;
}

body {
  .main_top4, .main_top3 {
    font-family: "NanumSquareOTFR00";
  }
}

/*���� �Ұ�*/

.top_header.main {
  background-color: transparent;
  background-image: url('../img/main_top_bg.png');
  background-position: center;
  color: #444;
  min-width: 1030px;
}

.boby_contant.main {
  width: 100%;
  background-color: transparent;
  margin-top: 0;
  min-width: 1030px;

  .main_top {
    background-image: url('../img/main_top_bg2.png');
    background-position: center;
    height: 477px;
  }
}

.main_top2 {
  background-image: url('../img/main_top_bg3.png');
  background-position: center;
  height: 610px;
}

.main_top3 {
  background-image: url('../img/main_top_bg4.png');
  background-position: center;
  height: 420px;
  border-bottom: 1px solid #5d7cce;
  border-top: 1px solid #6693f7;
  .c_align {
    width: 1050px;
    margin: auto;
    height: 420px;
  }
}

.main_top4 {
  background-image: url('../img/main_top_bg5.png');
  background-position: center;
  min-height: 1690px;
  background-color: #001572;
  background-repeat: repeat-x;
  position: relative;
}
.boby_contant.main>div.main_top3,.boby_contant.main>div.main_top4 {
  overflow: hidden;
}
.c_align {
  width: 1030px;
  margin: auto;
}

.main .c_align ul li.line {
  border-right: 1px solid #333;
}

.main_top .c_align {
  text-align: center;
  > img {
    margin-top: -50px;
  }
  a {
    cursor: pointer;
  }
}

.bottom_f.main {
  background-color: #001572;
  margin-top: 0;
  padding-top: 20px;
  color: #fff;
  min-width: 1030px;
}

.text_area {
  width: 45%;
  float: left;
  position: relative;
  top: 50%;
  margin-top: -83px;
  h3 {
    padding-left: 115px;
    background-image: url('../img/icon_1.png');
    background-repeat: no-repeat;
    min-height: 95px;
    color: #fff;
    font-size: 27pt;
    line-height: 135%;
    font-family: 'Malgun Gothic';
  }
  span {
    display: block;
    color: #fff;
    font-size: 13.5pt;
    font-weight: 400;
    margin-top: 15px;
    line-height: 140%;
  }
  + img{
    position: absolute;
    &.ava2{ bottom:0; right: -280px }
    &.ava5{ bottom:20px;  left: 180px }
  }
}

.photo_area {
  width: 55%;
  float: right;
  text-align: right;
  img {
    vertical-align: middle;
    margin-top: 40px;
    float: right;
  }
  + img{
    position: absolute;
    &.ava1{ bottom:0; left: -280px }
    &.ava3{
      bottom:20px; left: -350px;
      + img{     bottom: 20px;
        right: -360px;
        position: absolute;}
    }

    }
}

.boby_contant.main .line {
  min-height: 420px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  clear: both;
}

.line .c_align {
  height: 420px;
  position: relative;
  &.tow .photo_area img {
    margin-top: 80px;
  }
  &.four {
    height: 490px;
  }
}

.r {
  .photo_area {
    float: left;
  }
  .text_area {
    float: left;
    /* top: 0; */
    /* margin-top: 0; */
  }
  .photo_area img {
    float: left;
    margin-top: 80px;
  }
}

.one .text_area h3 {
  background-image: url('../img/icon_2.png');
}

.tow .text_area h3 {
  background-image: url('../img/icon_3.png');
}

.three .text_area h3 {
  background-image: url('../img/icon_4.png');
}

.four {
  .text_area {
    width: 100%;
    top: 0;
    margin-top: 30px;
    h3 {
      background-image: none;
      padding-left: 0;
      text-align: center;
      font-family: 'Malgun Gothic';
      span {
        margin-top: 5px;
      }
    }
  }
  .photo_area {
    width: 100%;
    text-align: center;
    float: none;
    clear: both;
    height: 255px;
    img {
      float: none;
      margin-top: 30px;
    }
  }
}

.bottom_f.main p {
  margin-bottom: 10px;
  a {
    cursor: pointer;
    color: #fff;
    &:hover{
      text-decoration: none;
    }
  }

}
//다국어 처리
.lang {
  display: block;
  padding: 0 0 0 15px;
  border-top: 1px solid #ddd;
  cursor: pointer;
  color: #333;
  font-size: 11pt;
  select {
    padding: 15px 0 15px 15px;
    border: none;
    width: 86%;
    margin-left: 25px;
  }
}

//국가코드용 추가

.form-group.phone {
  margin: 0 20px 15px;
  overflow: hidden;
}
#login-view form.spika-form .phone .form-label {
  margin-bottom: 10px;
}
#login-view form.spika-form .phone .country{
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 130px;
}
#login-view form.spika-form .phone .phonenum{width: 180px;  float: right;}

//인증번호 전송확인번호
.login .spika-form {
    p#country_code {
      float: left;
      margin-bottom: 20px;
      max-width: 40px;
    }
    p#phone_number {
      float: left;
      margin-bottom: 20px;
      width: 265px;
      margin-left: 0;
    }
}